<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIVj7ym0FcjUL_ahzRipS8QEGUJfIW-5A</string>
	<key>GCM_SENDER_ID</key>
	<string>840951361150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonorApp</string>
	<key>PROJECT_ID</key>
	<string>blood-donors-app-4366b</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donors-app-4366b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840951361150:ios:938bae04550833c0e4322f</string>
</dict>
</plist>